<a href="https://colab.research.google.com/github/susooo/data-analysis/blob/main/1_1_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**데이터 프레임 생성**

###딕셔너리를 이용한 데이터 프레임 생성

In [136]:
import pandas as pd

In [137]:
df = pd.DataFrame({"a":[1,2,3], "b":[4,5,6], "c":[7,8,9]})

In [138]:
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [139]:
dummy = {"a":[1,2,3], "b":[4,5,6], "c":[7,8,9]}

In [140]:
df2 = pd.DataFrame(dummy)

In [141]:
df2

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

###리스트를 이용한 데이터 프레임 생성

In [142]:
a = [[1,4,7], [2,5,8], [3,6,9]]

In [143]:
df3 = pd.DataFrame(a)

In [144]:
df3

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [145]:
df3.columns = ['a','b','c']

In [146]:
df3

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

###결측값(NaN) 데이터 처리 - numpy 사용 (np.NaN)

In [147]:
import numpy as np

In [148]:
a = {'university' : ['S대', 'Y대', "K대"], '학생수' : [2000, 3000, 4000], '위치' : ['Seoul', np.NaN, np.NaN]}

In [149]:
df4 = pd.DataFrame(a)

In [150]:
df4

  university   학생수     위치
0         S대  2000  Seoul
1         Y대  3000    NaN
2         K대  4000    NaN

#**칼럼명 추출 / 변경**

###칼럼명 추출

In [151]:
import pandas as pd

In [152]:
df = pd.DataFrame({"a":[1,2,3], "b":[4,5,6], "c":[7,8,9]})

In [153]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [154]:
df.columns[1]

'b'

###칼럼명 변경

- 치환을 이용한 변경

In [155]:
import pandas as pd

In [156]:
df = pd.DataFrame({"a":[1,2,3], "b":[4,5,6], "c":[7,8,9]})

In [157]:
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [158]:
df.columns = ['에이', '비', 'c']

In [159]:
df

   에이  비  c
0   1  4  7
1   2  5  8
2   3  6  9

- rename을 이용한 변경

In [160]:
df = pd.DataFrame({"a":[1,2,3], "b":[4,5,6], "c":[7,8,9]})

In [161]:
df.rename(columns = {'a' : '에이', 'b' : '비'})

   에이  비  c
0   1  4  7
1   2  5  8
2   3  6  9

In [162]:
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [163]:
df.rename(columns = {'a' : '에이', 'b' : '비'}, inplace = True)

In [164]:
df

   에이  비  c
0   1  4  7
1   2  5  8
2   3  6  9

#**copy를 이용한 데이터 복사**

###변수명 복제

In [165]:
import pandas as pd
df = pd.DataFrame({'a': [1, 2, 3], 'b' : [4, 5, 6], 'c' : [7, 8, 9]})
df2 = df

In [166]:
df2

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [167]:
df.columns = ['d', 'e', 'f']

In [168]:
df

   d  e  f
0  1  4  7
1  2  5  8
2  3  6  9

In [169]:
df2

   d  e  f
0  1  4  7
1  2  5  8
2  3  6  9

###deep copy를 이용한 해결

In [170]:
import copy

In [171]:
df = pd.DataFrame({"a":[1,2,3], "b":[4,5,6], "c":[7,8,9]})

In [172]:
df2 = copy.deepcopy(df)

In [173]:
df.columns = ['d', 'e', 'f']

In [174]:
df

   d  e  f
0  1  4  7
1  2  5  8
2  3  6  9

In [175]:
df2

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

#**시리즈**

In [176]:
import pandas as pd
df = pd.DataFrame({"a":[1,2,3], "b":[4,5,6], "c":[7,8,9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [177]:
df['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [178]:
type(df['a'])

pandas.core.series.Series

###시리즈 생성

In [179]:
a = pd.Series([1, 2, 3, 1, 2, 3])

In [180]:
a

0    1
1    2
2    3
3    1
4    2
5    3
dtype: int64

###인덱스 변경

In [181]:
a = pd.Series([1, 2, 3, 1, 2, 3], index = ['a', 'b', 'c', 'd', 'e', 'f'])

In [182]:
a

a    1
b    2
c    3
d    1
e    2
f    3
dtype: int64

###칼럼 안 유일한 값 찾기

In [183]:
df = pd.DataFrame({'a': [1, 2, 3, 1, 2, 3], 'b' : [4, 5, 6, 6, 7, 8]})

In [184]:
a = df['a']

In [185]:
a

0    1
1    2
2    3
3    1
4    2
5    3
Name: a, dtype: int64

In [186]:
a.unique()

array([1, 2, 3])

In [187]:
a.unique()[2]

3

#**loc와 iloc를 이용한 원하는 위치의 데이터 추출**

In [188]:
import pandas as pd
df = pd.DataFrame({'a' : [i for i in range(1, 11)], 'b' : [i for i in range(11, 21)], 'c' : [i for i in range(21, 31)]})

In [189]:
df[['a', 'b']]

    a   b
0   1  11
1   2  12
2   3  13
3   4  14
4   5  15
5   6  16
6   7  17
7   8  18
8   9  19
9  10  20

###loc를 이용한 데이터 추출

In [190]:
df.loc[0]

a     1
b    11
c    21
Name: 0, dtype: int64

In [191]:
df.loc[2:4]

   a   b   c
2  3  13  23
3  4  14  24
4  5  15  25

In [192]:
index = ['a', 'b', 'd', 'c', 'e', 'f', 'g', 'g', 'h', 'i']
df = pd.DataFrame({'a' : [i for i in range(1, 11)], 'b' : [i for i in range(11, 21)], 'c' : [i for i in range(21, 31)]}, index = index)

In [193]:
df

    a   b   c
a   1  11  21
b   2  12  22
d   3  13  23
c   4  14  24
e   5  15  25
f   6  16  26
g   7  17  27
g   8  18  28
h   9  19  29
i  10  20  30

In [194]:
#인덱스가 문자일때 숫자로 접근 불가

#df.loc[0]

In [195]:
df.loc['g']

   a   b   c
g  7  17  27
g  8  18  28

In [196]:
#열이 a, c 이며 인덱스가 g, i 인 데이터를 출력
df.loc[['g', 'i'], ['a', 'c']]

    a   c
g   7  27
g   8  28
i  10  30

###lioc를 이용한 데이터 추출

In [197]:
index = ['a', 'b', 'd', 'c', 'e', 'f', 'g', 'g', 'h', 'i']
df = pd.DataFrame({'a' : [i for i in range(1, 11)], 'b' : [i for i in range(11, 21)], 'c' : [i for i in range(21, 31)]}, index = index)

In [198]:
df.iloc[0:3, 1:4]

    b   c
a  11  21
b  12  22
d  13  23

In [199]:
df.iloc[[2, 5], [0, 2]]

   a   c
d  3  23
f  6  26

#**조건에 맞는 데이터 추출**

In [200]:
import pandas as pd
df = pd.DataFrame({'a' : [i for i in range(1, 11)], 'b' : [i for i in range(11, 21)], 'c' : [i for i in range(21, 31)]})

In [201]:
df

    a   b   c
0   1  11  21
1   2  12  22
2   3  13  23
3   4  14  24
4   5  15  25
5   6  16  26
6   7  17  27
7   8  18  28
8   9  19  29
9  10  20  30

In [202]:
#a 가 3 이상인 데이터
df[df['a'] >= 3]

    a   b   c
2   3  13  23
3   4  14  24
4   5  15  25
5   6  16  26
6   7  17  27
7   8  18  28
8   9  19  29
9  10  20  30

In [203]:
#a 가 3 이상인 데이터 중 a, c 열만
df[df['a'] >= 3][['a', 'c']]

    a   c
2   3  23
3   4  24
4   5  25
5   6  26
6   7  27
7   8  28
8   9  29
9  10  30

In [204]:
#a 가 3 이상이고, b 가 16 미만인 데이터
df[(df['a'] >= 3) & (df['b'] < 16)]

   a   b   c
2  3  13  23
3  4  14  24
4  5  15  25

In [205]:
a = (df['a'] >= 3) & (df['b'] < 16)
df[a]

   a   b   c
2  3  13  23
3  4  14  24
4  5  15  25

In [206]:
#a 가 3 이하 이거나 7 이상인 데이터
df[(df['a'] <= 3) | (df['a'] >= 7)]

    a   b   c
0   1  11  21
1   2  12  22
2   3  13  23
6   7  17  27
7   8  18  28
8   9  19  29
9  10  20  30

In [207]:
#a 가 3 이상이고, b 가 16 미만이거나 c 가 30 인 데이터
df[(df['a'] >= 3) & ((df['b'] < 16) | (df['c'] == 30))]

    a   b   c
2   3  13  23
3   4  14  24
4   5  15  25
9  10  20  30