<a href="https://colab.research.google.com/github/susooo/data-analysis/blob/main/1_2_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**정렬**

In [1]:
import pandas as pd

df = pd.DataFrame({'a' : [2, 3, 2, 7, 4], 'b' : [2, 1, 3, 5, 3], 'c' : [1, 1, 2, 3, 5]})

In [2]:
df

   a  b  c
0  2  2  1
1  3  1  1
2  2  3  2
3  7  5  3
4  4  3  5

In [3]:
#인덱스 기준 정렬 (오름차순)
df.sort_index()

   a  b  c
0  2  2  1
1  3  1  1
2  2  3  2
3  7  5  3
4  4  3  5

In [4]:
#인덱스 기준 정렬 (내림차순)
df.sort_index(ascending=False)

   a  b  c
4  4  3  5
3  7  5  3
2  2  3  2
1  3  1  1
0  2  2  1

In [5]:
df

   a  b  c
0  2  2  1
1  3  1  1
2  2  3  2
3  7  5  3
4  4  3  5

In [6]:
#정렬 결과를 저장하고 싶을 때
df.sort_index(ascending=False, inplace=True)

In [7]:
df

   a  b  c
4  4  3  5
3  7  5  3
2  2  3  2
1  3  1  1
0  2  2  1

In [8]:
#인덱스 초기화
#value는 바뀌었지만 인덱스는 원래대로 바꾸는 방법

df.reset_index()

   index  a  b  c
0      4  4  3  5
1      3  7  5  3
2      2  2  3  2
3      1  3  1  1
4      0  2  2  1

In [9]:
df.reset_index(drop=True, inplace=True)

In [10]:
df

   a  b  c
0  4  3  5
1  7  5  3
2  2  3  2
3  3  1  1
4  2  2  1

In [11]:
df = pd.DataFrame({'a' : [2, 3, 2, 7, 4], 'b' : [2, 1, 3, 5, 3], 'c' : [1, 1, 2, 3, 5]})

In [12]:
df

   a  b  c
0  2  2  1
1  3  1  1
2  2  3  2
3  7  5  3
4  4  3  5

In [13]:
#값 기준 정렬 (a열 기준 오름차순)
df.sort_values(by=['a'])

   a  b  c
0  2  2  1
2  2  3  2
1  3  1  1
4  4  3  5
3  7  5  3

In [14]:
#값 기준 정렬 (a열 기준 내림차순)
df.sort_values(by=['a'], ascending=False)

   a  b  c
3  7  5  3
4  4  3  5
1  3  1  1
0  2  2  1
2  2  3  2

In [15]:
#정렬 결과 저장
df.sort_values(by=['a'], inplace=True)

In [16]:
df

   a  b  c
0  2  2  1
2  2  3  2
1  3  1  1
4  4  3  5
3  7  5  3

In [17]:
#a열 기준으로 내림차순 정렬하고 a열에서 같은 값은 b를 기준으로 오름차순 정렬한다.
df.sort_values(by=['a', 'b'], ascending=[True, False])

   a  b  c
2  2  3  2
0  2  2  1
1  3  1  1
4  4  3  5
3  7  5  3

In [18]:
#인덱스 초기화
df.reset_index(drop=True, inplace=True)

In [19]:
df

   a  b  c
0  2  2  1
1  2  3  2
2  3  1  1
3  4  3  5
4  7  5  3

#**결측치 처리**

In [20]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'a' : [1, 1, 3, 4, 5], 'b' : [2, 3, np.nan, 3, np.nan], 'c' : [3, 4, np.nan, 6, 4]})

In [21]:
df

   a    b    c
0  1  2.0  3.0
1  1  3.0  4.0
2  3  NaN  NaN
3  4  3.0  6.0
4  5  NaN  4.0

In [22]:
#곃측치유무 판별
df.isnull()

       a      b      c
0  False  False  False
1  False  False  False
2  False   True   True
3  False  False  False
4  False   True  False

In [23]:
#결측치 개수 확인
df.isnull().sum()

a    0
b    2
c    1
dtype: int64

In [24]:
#결측값 포함된 행 삭제
df.dropna()

   a    b    c
0  1  2.0  3.0
1  1  3.0  4.0
3  4  3.0  6.0

In [25]:
df

   a    b    c
0  1  2.0  3.0
1  1  3.0  4.0
2  3  NaN  NaN
3  4  3.0  6.0
4  5  NaN  4.0

In [26]:
#결측값 포함된 열 삭제
df.dropna(axis=1)

   a
0  1
1  1
2  3
3  4
4  5

In [27]:
df

   a    b    c
0  1  2.0  3.0
1  1  3.0  4.0
2  3  NaN  NaN
3  4  3.0  6.0
4  5  NaN  4.0

In [28]:
#결측값 특정 값으로 대체하기
df.fillna(0)

   a    b    c
0  1  2.0  3.0
1  1  3.0  4.0
2  3  0.0  0.0
3  4  3.0  6.0
4  5  0.0  4.0

In [29]:
#결측값 앞의 값으로 대체하기
df.fillna(method='ffill')

   a    b    c
0  1  2.0  3.0
1  1  3.0  4.0
2  3  3.0  4.0
3  4  3.0  6.0
4  5  3.0  4.0

In [30]:
#결측값 뒤의 값으로 대체하기
df.fillna(method='bfill')

   a    b    c
0  1  2.0  3.0
1  1  3.0  4.0
2  3  3.0  6.0
3  4  3.0  6.0
4  5  NaN  4.0

In [31]:
df = pd.DataFrame({'a' : [np.nan, 1, 3, 4, 5], 'b' : [2, 3, np.nan, np.nan, 3], 'c' : [3, 4, np.nan, 6, 4]})

In [32]:
df

     a    b    c
0  NaN  2.0  3.0
1  1.0  3.0  4.0
2  3.0  NaN  NaN
3  4.0  NaN  6.0
4  5.0  3.0  4.0

In [33]:
#결측값 변경 횟수 제한
df.fillna(method='ffill', limit=1)

     a    b    c
0  NaN  2.0  3.0
1  1.0  3.0  4.0
2  3.0  3.0  4.0
3  4.0  NaN  6.0
4  5.0  3.0  4.0

In [34]:
#결측치 평균 값으로 대체
#1. a열 평균 구하기
df.mean()['a']
#2. a열 평균 대체
df.fillna(df.mean()['a'])

      a     b     c
0  3.25  2.00  3.00
1  1.00  3.00  4.00
2  3.00  3.25  3.25
3  4.00  3.25  6.00
4  5.00  3.00  4.00

In [35]:
df

     a    b    c
0  NaN  2.0  3.0
1  1.0  3.0  4.0
2  3.0  NaN  NaN
3  4.0  NaN  6.0
4  5.0  3.0  4.0

In [36]:
#각 열의 평균값으로 대체
print(df.mean())
df.fillna(df.mean())

a    3.250000
b    2.666667
c    4.250000
dtype: float64

      a         b     c
0  3.25  2.000000  3.00
1  1.00  3.000000  4.00
2  3.00  2.666667  4.25
3  4.00  2.666667  6.00
4  5.00  3.000000  4.00

In [37]:
#해당열만 평균값으로 대체
df.fillna(df.mean()[['b','c']])

     a         b     c
0  NaN  2.000000  3.00
1  1.0  3.000000  4.00
2  3.0  2.666667  4.25
3  4.0  2.666667  6.00
4  5.0  3.000000  4.00

#**타입 변환**

In [38]:
import pandas as pd

df = pd.DataFrame({'판매일' : ['5/11/21', '5/12/21', '5/13/21', '5/14/21', '5/15/21'],
                   '판매량' : ['10', '15', '20', '25', '30'], 
                   '방문자수' : ['10', '-', '17', '23', '25'], 
                   '기온' : ['24.1', '24.3', '24.8', '25', '25.4']})

In [39]:
df

       판매일 판매량 방문자수    기온
0  5/11/21  10   10  24.1
1  5/12/21  15    -  24.3
2  5/13/21  20   17  24.8
3  5/14/21  25   23    25
4  5/15/21  30   25  25.4

In [40]:
df.dtypes

판매일     object
판매량     object
방문자수    object
기온      object
dtype: object

In [41]:
df = df.astype({'판매량' : 'int'})

In [42]:
df.dtypes

판매일     object
판매량      int64
방문자수    object
기온      object
dtype: object

In [43]:
df['판매량 보정'] = df['판매량'] + 1

In [44]:
df['방문자수'] = pd.to_numeric(df['방문자수'], errors = 'coerce')

In [45]:
df.dtypes

판매일        object
판매량         int64
방문자수      float64
기온         object
판매량 보정      int64
dtype: object

In [46]:
df

       판매일  판매량  방문자수    기온  판매량 보정
0  5/11/21   10  10.0  24.1      11
1  5/12/21   15   NaN  24.3      16
2  5/13/21   20  17.0  24.8      21
3  5/14/21   25  23.0    25      26
4  5/15/21   30  25.0  25.4      31

In [47]:
df.fillna(0, inplace = True)

In [48]:
df.dtypes

판매일        object
판매량         int64
방문자수      float64
기온         object
판매량 보정      int64
dtype: object

In [49]:
df['판매일'] = pd.to_datetime(df['판매일'], format="%m/%d/%y")

In [50]:
df

         판매일  판매량  방문자수    기온  판매량 보정
0 2021-05-11   10  10.0  24.1      11
1 2021-05-12   15   0.0  24.3      16
2 2021-05-13   20  17.0  24.8      21
3 2021-05-14   25  23.0    25      26
4 2021-05-15   30  25.0  25.4      31

In [51]:
df.dtypes

판매일       datetime64[ns]
판매량                int64
방문자수             float64
기온                object
판매량 보정             int64
dtype: object

#**레코드, 칼럼 추가/삭제**

In [52]:
import pandas as pd

df = pd.DataFrame({'a' : [1, 1, 3, 4, 5], 'b' : [2, 3, 2, 3, 4], 'c' : [3, 4, 7, 6, 4]})

In [53]:
df

   a  b  c
0  1  2  3
1  1  3  4
2  3  2  7
3  4  3  6
4  5  4  4

In [54]:
#d칼럼 추가
df['d'] = [1, 3, 6, 4, 8]

In [55]:
df

   a  b  c  d
0  1  2  3  1
1  1  3  4  3
2  3  2  7  6
3  4  3  6  4
4  5  4  4  8

In [56]:
#e칼럼 데이터 초기화하여 추가
df['e'] = 1

In [57]:
df

   a  b  c  d  e
0  1  2  3  1  1
1  1  3  4  3  1
2  3  2  7  6  1
3  4  3  6  4  1
4  5  4  4  8  1

In [58]:
df.dtypes

a    int64
b    int64
c    int64
d    int64
e    int64
dtype: object

In [59]:
df['f'] = df['a'] + df['b'] - df['c']

In [60]:
df

   a  b  c  d  e  f
0  1  2  3  1  1  0
1  1  3  4  3  1  0
2  3  2  7  6  1 -2
3  4  3  6  4  1  1
4  5  4  4  8  1  5

In [61]:
#d, e, f 칼럼 삭제
df.drop(['d', 'e', 'f'], axis=1, inplace=True)

In [62]:
#레코드 추가1
df = df.append({'a' : 6, 'b' : 7, 'c' : 8}, ignore_index = True)

In [63]:
df

   a  b  c
0  1  2  3
1  1  3  4
2  3  2  7
3  4  3  6
4  5  4  4
5  6  7  8

In [64]:
#레코드 추가2
df.loc[6] = [7, 8, 9]

In [65]:
df

   a  b  c
0  1  2  3
1  1  3  4
2  3  2  7
3  4  3  6
4  5  4  4
5  6  7  8
6  7  8  9

In [66]:
#레코드 삭제
df.drop(0)

   a  b  c
1  1  3  4
2  3  2  7
3  4  3  6
4  5  4  4
5  6  7  8
6  7  8  9

In [67]:
df

   a  b  c
0  1  2  3
1  1  3  4
2  3  2  7
3  4  3  6
4  5  4  4
5  6  7  8
6  7  8  9

In [68]:
#첫번째, 두번째 레코드 삭제
df = df.drop([2, 3])

In [69]:
df

   a  b  c
0  1  2  3
1  1  3  4
4  5  4  4
5  6  7  8
6  7  8  9

In [70]:
df = pd.DataFrame({'a' : [1, 1, 3, 4, 5], 'b' : [2, 3, 2, 3, 4], 'c' : [3, 4, 7, 6, 4]})

In [71]:
#첫번째에서 네번째 레코드 삭제
df.drop([i for i in range(4)])

   a  b  c
4  5  4  4

In [72]:
df = pd.DataFrame({'a' : [1, 1, 3, 4, 5], 'b' : [2, 3, 2, 3, 4], 'c' : [3, 4, 7, 6, 4]})

In [73]:
#첫번째에서 네번째 레코드 삭제
df.drop(df.index[:4])

   a  b  c
4  5  4  4

In [74]:
df = pd.DataFrame({'a' : [1, 1, 3, 4, 5], 'b' : [2, 3, 2, 3, 4], 'c' : [3, 4, 7, 6, 4]})

In [75]:
#a가 4미만인 레코드 삭제
df.drop(df[df['a'] < 4].index)

   a  b  c
3  4  3  6
4  5  4  4

In [76]:
df = pd.DataFrame({'a' : [1, 1, 3, 4, 5], 'b' : [2, 3, 2, 3, 4], 'c' : [3, 4, 7, 6, 4]})

In [77]:
#a가 3미만이고 c가 4인 레코드 삭제
df.drop(df[(df['a'] < 3) & (df['c'] == 4)].index)

   a  b  c
0  1  2  3
2  3  2  7
3  4  3  6
4  5  4  4

#apply, map을 사용한 데이터 변환

####기본 데이터 변환

In [78]:
import pandas as pd

df = pd.DataFrame({'a' : [1, 2, 3, 4, 5]})

In [79]:
#a 가 2 보다 작으면 '2 미만', 4 보다 작으면 '4 미만', 4 보다 크면 '4 이상' 이 저장된 b 칼럼을 추가하기. default는 0이다.

In [80]:
#b 열을 0으로 초기화
df['b'] = 0

In [81]:
df

   a  b
0  1  0
1  2  0
2  3  0
3  4  0
4  5  0

In [82]:
num1 = df[(df['a']<2)]
num2 = df[(df['a']>=2) & (df['a']<4)]
num3 = df[(df['a']>=4)]

In [83]:
df['b'][num1.index] = '2 미만'
df['b'][num2.index] = '4 미만'
df['b'][num3.index] = '4 이상'

In [84]:
df

   a     b
0  1  2 미만
1  2  4 미만
2  3  4 미만
3  4  4 이상
4  5  4 이상

####apply 함수를 이용한 데이터 변환

In [85]:
def case_1(x):
  if x<2:
    return '2 미만'
  elif x<4:
    return '4 미만'
  else:
    return '4 이상'

In [86]:
df

   a     b
0  1  2 미만
1  2  4 미만
2  3  4 미만
3  4  4 이상
4  5  4 이상

In [87]:
#a가 1이면 'one', 2이면 'two', 3이면 'three', 4이면 'four', 5이면 'five'를 저장하는 d 만들기

In [88]:
def case_2(x):
  if x==1:
    return 'one'
  elif x==2:
    return 'two'
  elif x==3:
    return 'three'
  elif x==4:
    return 'four'
  elif x==5:
    return 'five'

In [89]:
df['d'] = df['a'].apply(case_2)

In [90]:
df

   a     b      d
0  1  2 미만    one
1  2  4 미만    two
2  3  4 미만  three
3  4  4 이상   four
4  5  4 이상   five

####map을 이용한 데이터 변환

In [91]:
a = {1:'원', 2: '투', 3:'쓰리', 4:'포', 5:'파이브'}

In [92]:
df['e'] = df['a'].map(a)

In [93]:
df

   a     b      d    e
0  1  2 미만    one    원
1  2  4 미만    two    투
2  3  4 미만  three   쓰리
3  4  4 이상   four    포
4  5  4 이상   five  파이브